/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************* General *************/

.container {
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
}

html, body {
    height: 100%;
    font-family: 'Shadows Into Light', cursive;
    font-size: 62.5%;
    color: black;
}

/************* NAV BAR *************/

.header-section {
    background-color: #313335;
    width: 100%;
}

.header-section .navigation a {
    font-size: 3rem;
    width: 100%;
}

.navigation {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

a.nav-button {
    background-color: white;
    color: #313335;
    text-align: center;
    text-decoration: none;
    font-family: 'Shadows Into Light', cursive;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 1px solid #313335;
    width: 90%;
}

a.nav-button:hover {
    background-color: #313335;
    color: white;
  }

/************* About Body *************/

.about-welcome-section {
    background: url(img/tableMusic.jpg) no-repeat center center fixed; 
    background-size: cover; 
    height: 100%;
    padding: 1rem;
    /* overflow: hidden; */
    background-attachment: scroll;
    margin: 0 auto;  
    /* filter: brightness(30%); */
    display: flex;
    justify-content: center;
} 

.about-welcome-section .about-welcome-box {
    padding: 30rem 15% 30rem 35%;
    display: flex;
    flex-direction: column;
}

.about-welcome-section .about-welcome-box #about-header {
    font-size: 5.5rem;
    color: #63CB5D;
    /* filter: brightness(100%); */
    text-align: right;
    margin-bottom: 1rem;
}

.about-welcome-section .about-welcome-box #about-text {
    font-size: 3.4rem;
    color: #ffffff;
    text-align: right;
    margin: 1rem 0;
}

.about-welcome-section .about-welcome-box #about-solution {
    font-size: 3.4rem;
    color: #ffffff;
    text-align: right;
    margin: 1rem 0 0;
}

.about-section {
    background-color: #d9d9d9;
    padding: 4.8rem 0;
}

.about-section .about-box {
    padding: 2.4rem 30% 0 5%;
}

.about-section .about-box .about-box-headers {
    font-size: 4.2rem;
    padding: .8rem 0;
    font-weight: bold;
}

.about-section .about-box li {
    font-size: 3rem;
    padding: 0 0 .2rem 0;
}

.about-section .about-box li:hover {
    /* color: #63CB5D; */
    font-size: 4rem;
 
  }


/************* ourTeam Body *************/
.welcome-section {
    background: url(img/recStudio.jpg) no-repeat center center fixed; 
    background-size: cover; 
    height: 100%;
    padding: 1rem;
    /* overflow: hidden; */
    background-attachment: scroll;
    margin: 0 auto;  
    /* filter: brightness(30%); */
    display: flex;
    justify-content: center;
} 

.welcome-section .welcome-text {
    padding: 42rem 0;
}

.welcome-section .welcome-text #ourTeam-header {
    font-size: 4rem;
    color: #ffffff;
    /* filter: brightness(100%); */
    text-align: center;
    padding: 0 9%;
}

.ourTeam-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #d9d9d9;
    padding: 6rem 5% 4rem;
}

.ourTeam-section .teammate-box {
    display: flex;
    flex-direction: column;
    width: 27%;
    padding: .8rem;
    margin: 2.4rem auto;
    background-color: white;
    border-radius: 15%;
    border: 2px solid #313335;
}

.ourTeam-section .teammate-box:hover {
    background-color: #313335;
    border-radius: 15%;
    color: white;
}

.ourTeam-section .teammate-box .teammate-img {
    width: 70%;
    height: auto;
    border-radius: 50%;
    margin: .8rem auto;
}

.ourTeam-section .teammate-box .teammateName {
    font-size: 4rem;
    text-align: center;
    padding: .4rem;
    font-weight: bold;
}

.ourTeam-section .teammate-box .teammateRole {
    font-size: 3.2rem;
    text-align: center;
    padding: .4rem;
    font-weight: bold;
}

.ourTeam-section .teammate-box .about-me {
    font-size: 2.5rem;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    padding: .4rem 4% .4rem;
}


/************* Footer *************/
footer {
	line-height: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* margin: 1rem 1rem 0 1rem; */
    padding: 1rem;
    color: white;
    background-color: #313335;
    font-size: 2.2rem;
}

/************* 1000 Pixels *************/

@media(max-width: 1000px){

/************* About *************/

.about-welcome-section .about-welcome-box {
    padding: 16rem 10% 16rem 30%;
    display: flex;
    flex-direction: column;
}

.about-section {
    padding: 1.2rem;
}

.about-section .about-box {
    padding: .6rem 15% 2.4rem;
    text-align: center;
}

/************* ourTeam *************/

.welcome-section .welcome-text {
    padding: 30rem 0;
}

.ourTeam-section .teammate-box {
    width: 44%;
}

}

@media(max-width: 500px){

/************* About *************/

/************* ourTeam *************/
	
}